@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">You did It!</h1>
  <!----  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <p>This is .NET Core Application to Azure App Service with GitHub Actions :) <a href=""> </a>.</p>
</div>
